*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    scrollbar-width: 0px;
}
body::-webkit-scrollbar{
    display: none;
}
/* sidebar part start here  */
.hot_tab .tab-content{
    height: 100vh;
}
.offcanvas-body::-webkit-scrollbar{
    display: none;
}
.offcanvas-body {
    
    scrollbar-width: 0;
}
.tab_function{
    min-height: 90vh;

}
.offcanvas-body ul{

}
.offcanvas-body ul li{

}
.nav-pills{

/* margin-top: 20px; */

margin-bottom: 0 !important;
}
.tab_btn .nav-link{
    position: relative;
    color: #ffffff8c;
}
.tab_btn  .nav-link{
    background-color: transparent !important;
    color: #8b8585;
    margin-right: 5px;
}
.tab_btn .nav-link.active{
    background-color: transparent;

}
.tab_btn .nav-link.active  span{
    opacity: 1;
}
.tab_btn span{
    height: 2px;
    width: 30%;
    content: '';
    background: #f7931a;
    opacity: 0;
    margin: auto;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    transition: .4s all ease-in-out;
}
.offcanvas {
    background-color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #ffffff21;
}
.coin_select{

display: flex;

justify-content: center;

align-items: center;

box-shadow: 2px 3px 5px 3px #85808030;

margin: 5px 0px;
}
.coin_select img{

width: 30px !important;

height: 30px;
}
.coin_select h2{

font-size: 14px;

color: #000;
}
.coin_select h3{

font-size: 14px;

color: #000;
}
.coin_select p{
    
font-size: 12px;
    
color: #000;
    
margin: 0px;
}
.offcanvas-title{
    color: #232323;
}
.offcanvas-header .btn-close, .offcanvas-header .btn-close:hover {
    color: #fff !important;
}
/* sidebarpart end here  */
/* top bar part start here  */
.top_navbar{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ffffff14;
    margin-bottom: 5px;
    background: #29313c0a;
    padding: 5px 10px;
    box-shadow: 2px 3px 7px 3px #00000036;
    margin-top: 5px;
}
.top_left{
    display: flex;
    align-items: center;
    justify-content: start;
}
.top_left h1{
    
font-size: 14px;
    
color: #000;
    
text-transform: uppercase;
    
margin: 0px;
}
.top_left  img{
    width: 20px;
    margin-right: 10px;
    margin-top: 5px;
}
.top_left h1 span{

font-size: 10px;

margin-left: 5px;

color: #2e906e;
}
/* :right */
.top_right{

display: flex;

justify-content: end;

align-items: center;

margin-top: 2px;
}
.candle_icon{

display: flex;

justify-content: center;

align-items: center;
}
.candle_icon a{

}
.candle_icon a img{

width: 10px;
}
.top_right a{

margin: 0px 3px;

display: flex;

justify-content: center;

align-items: center;

text-decoration: none;
}
.top_right a i{

color: #ffffffa8;

font-size: 12px;

text-decoration: none;
}
.three_dots{

display: flex;

justify-content: center;

align-items: center;
}
.three_dots span{

height: 4px;

width: 4px;

background: #000000c2;

margin: 1px;
}
/* top bar part end here  */

/* tranding view part  */
.tradingview-widget-copyright {
    display: none;
}
.tradingview-widget-container iframe{
    min-height: 50vh !important;
}
/* tranding view part end  */

/* hot topic part start here  */
.title{

background: transparent;

padding: 5px;

box-shadow: 2px 3px 5px 3px #7a78782b;

margin-top: 5px;
}
.title h1{

color: #fff;

font-size: 20px;
}
.hot_part{

max-height: 90vh;

overflow: auto;
}
.hot_part::-webkit-scrollbar{
    display: none;
}
.hot_part{
    scrollbar-width: 0px;
}
.hot_part ul{

list-style: none;

padding: 0;

overflow: auto;
}
.hot_part ul li{

background: transparent;

margin: 5px 0px;

box-shadow: 2px 3px 5px 3px #8f88882e;
}
.coins{

display: flex;

justify-content: space-between;

align-items: center;

padding: 10px 15px;

background: transparent;
}
.coins i{

color: #f7931a;

margin-right: 20px;
}
.coins img{

text-align: center;

margin-right: 10px;

width: 30px;

padding: 3px;
}
.coins h2{

color: #081322;

font-size: 14px;
}
.coins h2 span{
    
text-transform: uppercase;
    
font-size: 12px;
    
color: #29313c;
}
.coins p{
    
color: #000;
    
margin: 0px;
    
font-size: 12px;
}
.chart_part{
    /* height: 240px !important; */
    overflow: hidden;
    max-height: 40vh;
}
/* hot topic part end here  */



/* buy sell part start here  */
.bs_btn{

}
.bs_btn ul{
    
box-shadow: 2px 3px 5px 3px #736f6f2b;
}
.bs_btn ul li{

width: 50%;

background: transparent;
}
.bs_btn ul li button{
    width: 100%;
    color: #000;
    border-radius: 0 !important;
    border-top-right-radius: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #2ebd85;
    color: #000;
}
.nav-link:focus, .nav-link:hover {
    color: #0909098c;
}
.nav-pills .btn_sell.active{
    background-color: #dc3545;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    color: #fff;
}
.nav-pills .btn_buy.active{
    background-color: #2ebd85;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

/* buy part  */
.btns_part{

}
.btns{
    width: 100%;
    background-color: transparent;
    color: #081322;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    box-shadow: 2px 3px 6px 2px #7a76763d;
}
.btns select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #081322;
    background-color: transparent;
    -moz-appearance: none;
    appearance: none;
    border: none !important;
}
.btns select:focus{
    outline: none;
}
.btns select option{

}
.btns h4{
    font-size: 16px;
    padding: 0.375rem 0.75rem;
    margin: 0px;
}
.btns img{

width: 20px;
}
.btns button{
    
background: transparent;
    
color: #fff;
    
border: none;
}
.btns button i{
    
color: #081322;
}
.btns  input{
    background-color: transparent;
    color: #081322;
    border: none;
    text-align: center;
    padding: 0.375rem 0.75rem;
}
.btns  input::placeholder{
    color: #081322;
}
.btns  input:focus{
    outline: none;
}
.percen_btn{

width: 100%;

text-align: center;
}
.percen_btn button{

width: 100%;

height: 8px;

border: none;

background: #29313c;

border-radius: 10px;
}
.percen_btn p{
    
color: #202124;
    
margin: 0;
}
/* buy sell part end here  */

/* price part start here  */
.price_part{

}
.price_title{

display: flex;

justify-content: space-between;

align-items: center;

background: transparent;

padding: 10px 5px;

margin-top: 5px;

box-shadow: 2px 3px 5px 3px #6b686833;

margin-bottom: 8px;
}
.price_title h2{

color: #081322;

font-size: 16px;
}
.price_body{
    scrollbar-width: 0px;
    min-height: 140px;
    overflow: auto;
}
.price_body::-webkit-scrollbar{
    display: none;
}
.price_option{

display: flex;

justify-content: space-between;

padding: 3px 5px;

background: #29313c;

align-items: center;

margin-top: 5px;
}
.price_option p{
    
color: #081322;
    
margin: 0;
    
font-size: 12px;
}
.buy_section .price_option{
    
    background: #2ebd8514;
}
.sell_section .price_option{
    background-color: #ed52520d;
}
/* price part end here  */

.offcanvas-header {
    display: unset;
}
.title ul{

}
.title ul li{

}
.title ul li button{

color: #0000008a;
}
.title ul li button.active{

background: transparent !important;

color: #000 !important;
}
.btn_time{
    color: #000 !important;
    font-size: 8px;
    border: 1px solid #000;
    padding: 2px 5px;
    margin-left: 10px;
    border-radius: 0px;
    border: none;
    padding: 2px 0px;
}
.pc_view{

}
.mobile_view{
    display: none;
}
.bs_btn .tab-content {
    /* height: 100vh; */
}
.min_btns{
    display: flex;
    overflow: auto;
    width: 66%;
}
.min_btns::-webkit-scrollbar{
    display: none;
}
.sidebar_star{
    
display: flex;
    
justify-content: center;
    
/* align-items: center; */
    
margin-right: 15px;
    
margin-top: 10px;
}
.sidebar_star:hover{
    color: #fff;
}
.sidebar_star i{
    /* color: #fbfbfb4e !important; */
    color: #f7931a !important;
    
}
.btn_close{
    color: #000;
    border: none;
    background-color: transparent;
}
.avbl_css{

}
.candle_light{
    display: none;
}
.candle_dark{
    display: block;
}

.duration_btn{

}
.duration_btn button{
    
width: 100%;
    
background: transparent;
    
color: #000;
    
border: none;
    
font-size: 16px;
    
box-shadow: 2px 2px 4px 2px #98939345;
}
.btn_time{
    /* color: #fff !important; */
}
/* show hide button part star here  */
.hidden {
    display: none;
  }
.mobile_view a button{
    background-color: transparent;
    border: none;
}

.btn_candle.active .icn_active, .icn_inactive{
    display: none;
}
.btn_candle.active .icn_inactive{
    display: block;
}
.btn_candle.active .chart_view{
    display: none;
}
.price_view{
    display: none;
}
.btn_candle.active .price_view{
    display: block;
}
#inactiveDiv {
    display: block;
}

#activeDiv {
    display: none;
}
/* show hide button part end here  */
@media only screen and (max-width: 426px){
    .pc_view{
        display: none;

    }
    .mobile_view{
        display: block;
        margin-bottom: 10px;
    }
    .offcanvas.show:not(.hiding), .offcanvas.showing {
        transform: none;
        width: 85%;
    }
}